results*/
checkpoints/*
*.npz
**/*.pyc
__pycache__*/
.vscode
gripper_models/*
gripper_control_points/*
pointnet2/*
ultralytics*/
uniform_quaternions/*
compile_pointnet_tfops.sh
archive/*
contact_graspnet/segment/FastSAM*/
contact_graspnet/calib_utils*/
contact_graspnet/gaze_model*/
contact_graspnet/vision_utils*/
projectaria_tools_python_env*/
calib
